<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>تأكيد الطلب</title>
    <link rel="stylesheet" href="../../Static/css/Confirm_request.css">

</head>

<body>

    <div class="card">
        <h2>تم إرسال الطلب بنجاح ✅</h2>
        <p>شكراً لك على استخدام منصة قطرة حياة.</p>
        <p>سيتم إشعار المتبرعين الأقرب إليك الآن.</p>
        <p><strong>رقم الطلب:</strong> #48391</p>

        <a href="../../home.html" class="btn">العودة للرئيسية</a>
    </div>

</body>

</html>