    body {
        font-family: 'Cairo', sans-serif;
        background-color: #fef6f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .login-container {
        background-color: #fff;
        padding: 40px 30px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
    }

    h2 {
        text-align: center;
        color: #b71c1c;
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="gmail"]{
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 16px;
    }

    .btn {
        width: 100%;
        padding: 12px;
        background-color: #e63946;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #c92f3c;
    }

    .links {
        margin-top: 20px;
        text-align: center;
    }

    .links a {
        display: block;
        color: #e63946;
        margin: 5px 0;
        text-decoration: none;
        font-weight: bold;
    }

    .links a:hover {
        text-decoration: underline;
    }
    