body {
    font-family: 'Cairo', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    max-width: 500px;
}

h2 {
    color: #d62828;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 15px;
}

button {
    background-color: #d62828;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #b91d1d;
}
:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --card-bg: white;
}

.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #eee;
    --card-bg: #2a2a2a;
}