<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>التسجيل كمتبرع</title>
    <link rel="stylesheet" href="../../Static/css/donor_form.css">
</head>

<body>

    <div class="form-container">
        <h2>سجل كمتبرع</h2>
        <form>
            <label>الاسم الكامل</label>
            <input type="text" required>

            <label>فصيلة الدم</label>
            <select required>
                <option>اختر</option>
                <option>+A</option>
                <option>-A</option>
                <option>+B</option>
                <option>-B</option>
                <option>+O</option>
                <option>-O</option>
                <option>+AB</option>
                <option>-AB</option>
            </select>

            <label>المدينة</label>
            <input type="text" required>

            <label>رقم الهاتف</label>
            <input type="tel" required>

            <button type="submit">التسجيل كمتبرع</button>
        </form>
    </div>

</body>

</html>